h1 {
    color: red;
}

h2 {
    text-align: center;
}

section {
    background-color: grey;
}

section:hover {
    background-color: pink;
}

section article#top {
    color: green;
}

section article {
    color: white;
}
